body {
  font-family: "Arial,sans-serif";
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

.ingredients-list {
  list-style: square inside;
}

header > img {
  width: 100px;
}

ul li a {
  text-decoration: none;
}

body {
  background-color: rgb(255,203,160);
}


input {
  cursor:pointer;
  outline: none;
}

input:last-child {
  background-color: gold;
}

input:last-child:hover {
  -webkit-filter: brightness(70%);
}

ol li {
  background-color: light-grey;
}
